<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.monorella.srf.branch.staff.StaffMapper">

<delete id="deleteStaff" parameterType="com.monorella.srf.branch.dto.Staff">
	DELETE FROM branch_staff_tb 
	WHERE staff_id=#{staff_id} 
	AND staff_pw=#{staff_pw}
	</delete>
	
<update id="modifyStaff" parameterType="com.monorella.srf.branch.dto.Staff">
	UPDATE branch_staff_tb SET 
	branch_owner_cd=#{branch_owner_cd}
	, staff_name=#{staff_name} 
	, staff_tel=#{staff_tel}
	, staff_postcode=#{staff_postcode}
	, staff_addr=#{staff_addr}
	, staff_detail_addr=#{staff_detail_addr}
	WHERE staff_id=#{staff_id} 
	AND staff_pw=#{staff_pw}
	</update>
	
<select id="getStaff" parameterType="String" resultType="com.monorella.srf.branch.dto.Staff">
	SELECT 
	staff_id 
	,branch_owner_cd 
	, staff_name 
	, staff_tel 
	, staff_addr 
	, staff_in_date 
	FROM branch_staff_tb 
	WHERE staff_id=#{staff_id}
	</select>

<select id="searchStaff" parameterType="java.util.Map" resultType="com.monorella.srf.branch.dto.Staff">
	SELECT
		 staff_id
		 , branch_owner_cd 
		 , staff_name 
		 , staff_tel 
		 , staff_addr
		 , staff_in_date
		 FROM branch_staff_tb
		  <if test="sv !=null and sv != ''">
		 	<if test="so.equals('staff_id')">
		WHERE staff_id like concat('%',#{sv},'%')
		</if>
		<if test="so.equals('branch_owner_cd')">
			WHERE branch_owner_cd like concat('%',#{sv},'%')
		</if>
		<if test="so.equals('staff_name')">
			WHERE staff_name like concat('%',#{sv},'%') 
		</if>
		<if test="so.equals('staff_tel')">
			WHERE staff_tel like concat('%',#{sv},'%')
		</if>
		<if test="so.equals('staff_addr')">
			WHERE staff_addr like concat('%',#{sv},'%')
		</if>
		<if test="so.equals('staff_in_date')">
			WHERE staff_in_date like concat('%',#{sv},'%')
		</if>
		</if> 
</select>

  <select id="getStaffList" parameterType="String" resultType="com.monorella.srf.branch.dto.Staff">
  	SELECT
  	staff_id
  	, branch_owner_cd 
	, staff_pw 
	, staff_name 
	, staff_tel 
	, staff_addr 
	, staff_in_date

 	FROM branch_staff_tb
 	WHERE branch_owner_cd = #{branch_owner_cd}
	ORDER BY staff_name DESC 
  </select>
  
  
   <!-- 실패한 쿼리 -->
<!--    <select id="getStaffList" resultType="com.monorella.srf.branch.dto.Staff">
  	SELECT
  	staff_id
  	, branch_owner_cd 
	, staff_pw 
	, staff_name 
	, staff_tel 
	, staff_addr 
	, DATE_FORMAT(staff_in_date,"%Y %c/%e")

 	FROM branch_staff_tb
	ORDER BY staff_name DESC 
  </select> -->
  
  
  <insert id="insertStaff" parameterType="com.monorella.srf.branch.dto.Staff">
	INSERT INTO branch_staff_tb(
		staff_id
		, branch_owner_cd
		, staff_pw
		, staff_name
		, staff_tel
		, staff_postcode
		, staff_addr
		, staff_detail_addr
		, staff_in_date) 
	VALUES(
		#{staff_id}
		, #{branch_owner_cd}
		, #{staff_pw}
		, #{staff_name}
		, #{staff_tel}
		, #{staff_postcode}
		, #{staff_addr}
		, #{staff_detail_addr}
		, now()
	)
	</insert>
  </mapper>
  