<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.monorella.srf.branch.scheduler.SchedulerMapper">
  
  	<!-- 기간 만료된 회원 수정 -->
  	<update id="modifyEndDateMember" parameterType="String">
		UPDATE branch_member_tb bm INNER JOIN branch_saet_tb bs
			ON bm.seat_cd = bs.seat_cd 
			SET
				bm.seat_cd=0,
				bm.inout_num='0',
				bm.member_seat_state='N',
				bs.seat_appoint='N',
				bs.colseat_state='빈좌석'
			WHERE member_cd = #{member_cd}  	
  	</update>
  	<!-- 기간 만료일 -->
  	<select id="selectEndDate" resultType="com.monorella.srf.branch.dto.Member">
  		SELECT
			member_cd
			, bm.branch_owner_cd
			, bm.seat_cd
			, bm.inout_num
			, bm.member_nm
			, bm.member_tel
			, bm.member_regi_date
			, bm.member_end_date
			, bs.room_cd
		FROM branch_member_tb bm INNER JOIN branch_saet_tb bs ON bm.seat_cd = bs.seat_cd 
		WHERE member_end_date &lt; date_format(now(), '%Y-%c-%e') AND member_seat_state='Y'
  	</select>
  </mapper>